:root {
    --textcolor1: rgb(255, 255, 255);
    --textcolor2: rgb(196, 255, 243);
    --textcolor3: rgb(155, 244, 225);
    font-family: Calibri;
    font-size: 24px;
    margin: 0%;
}

body {
    background-color: rgb(15, 104, 52);
}

#siteheader {
    background-color: rgb(27, 149, 78);
    width: 100vw;
    height: 2rem;
}

#sitelogo {
    position: relative;
    left: 0%;
    top: 0%;
    height: 100%;
    width: auto;
}

#sitetitle {
    color: var(--textcolor1);
    text-align: left;
    font-size: 1.5rem;
    position: relative;
}