* {
    --textcolor1: rgb(255, 255, 255);
    --textcolor2: rgb(197, 197, 197);
    --textcolor3: rgb(155, 244, 225);
    --blursize: 2rem;
    font-family: Calibri;
    font-size: 20px;
    margin: 0%;
    box-sizing: border-box;
}


body {
    background-color: rgb(33, 36, 36);
    overflow-x: hidden;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

header {
    width: 100vw; 
    height: max( 2rem , 4.5vh );
    position: relative;
    background-color: rgb(27, 89, 68);
}

.header-glow , .header-outline {
    position: absolute;
    width: calc( var(--blursize)*4 + 100% );
    height: calc( 100% + 0.1rem );
    left: 50%;
    top: 0%;
    translate: -50% 0%;

    background: conic-gradient(from var(--angle) at 50% -50%,
        rgb(35, 233, 203),
        rgb(40, 202, 137),
        rgb(106, 230, 172),
        rgb(0, 236, 201),
        rgb(35, 233, 203)
    );

    z-index: -1;
    animation: 20s header-anim linear infinite;
}

.header-glow {
    filter: blur( var(--blursize) );
    opacity: 0.4;
}


header div {
    position: relative;
    height: 100%;
    display: flex;
}

header div img {
    aspect-ratio: 1;
    padding: 0.16rem;
}


header div h1 {
    color: var(--textcolor1);
    text-align: center;
    font-size: calc(100%*1.5);
    margin: auto 0%;
}

@keyframes header-anim {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

main {
    position: relative;
    padding: 0.5rem 0.4rem;
    height: 100%;
    width: 100%;
    z-index: -2;
}

main ul {
    background-color: rgb(33, 33, 33);
    list-style-type: none; 
    line-height: calc(100% + 3px);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0%;
}

main li {
    color: var(--textcolor1);
    background-color: rgb(58, 58, 58);
    padding: 0.18rem 1.4rem;
}

main li:nth-child(even) {
    background-color: rgb(76, 76, 76);
}